<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if user.is_authenticated %}
    <a href="/accounts/logout">Выйти</a>
    <a href="/cart">Корзина</a>
{% else %}
    <a href="/accounts/login">Войти</a>
{% endif %}

<form method="get">
    <input type="text" name="pr" placeholder="Поиск продукта">
    <button>Поиск</button>
</form>
<hr>
Категории <br>
{% for i in all_categories %}
    <a href="/category/{{i.id}}">{{ i.name }}</a><br>
{% endfor%}
<hr>

Товары: <br>
{% for i in all_products %}
    <a href="/product/{{ i.name }}/{{ i.id }}">{{ i.name }}</a><br>
{% endfor%}
</body>
</html>